<section id="game" class="wrapper">
  <main id="board">
  	<!-- top row -->
    <div class="corner"></div>
    <div class="frame horizontal">
      <div ng-repeat="start in starttop" class="startpoints">{{start[0]}}.{{start[1]}}.{{start[2]}}</div>
    </div>
    <div class="corner"></div>

    <!-- middle row -->
    <div class="frame vertical">
      <div ng-repeat="start in startleft" class="startpoints">{{start[0]}}.{{start[1]}}.{{start[2]}}</div>
    </div>
    <div class="space-container">
    	<div ng-repeat="space in spaces" class="space"></div>
    </div>
    <div class="frame vertical">
      <div ng-repeat="start in startright" class="startpoints">{{start[0]}}.{{start[1]}}.{{start[2]}}</div>
    </div>

    <!-- bottom row -->
    <div class="corner"></div>
    <div class="frame horizontal">
      <div ng-repeat="start in startbottom" class="startpoints">{{start[0]}}.{{start[1]}}.{{start[2]}}</div>
    </div>
    <div class="corner"></div>
  </main>
</section>
