$geosans: 'Raleway', sans-serif;

$red: #cc553d;
$purple: #a58087;
$pink: #e8afa3;
$yellow: #f2c85d;
$jade: #336667;
$green: #539279;
$sky: #9ac4ce;
$ocean: #275e93;

$mountain: #122039;
$gray: #5c6764;
$paper: #f4f1df;

@mixin throbbing($animationname) {
  animation-name: $animationname;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: 0 0 10px $gray;
  &:hover { animation-play-state: paused; }
}

@mixin centering($positioning){
  position: $positioning;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

@mixin startpoints(){
  position: relative;
  background-clip: padding-box;
  box-sizing: border-box;
  cursor: pointer;

  animation-name: opacityshift;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes opacityshift{
  from{ opacity: 1; }
  to {opacity: .5;}
}

@mixin button(){
  width: 100%;
  padding: 2%;
  margin: 10px auto;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid $red; 
  
  color: $red;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}

/////STRUCTURE/////
body {
  font-family: $geosans;
  text-align: center;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/the-paths-of-dragons.appspot.com/o/tsuro-bg.jpg?alt=media&token=d0078f3a-7445-47ba-8641-3a794a1499ab');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
section.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/////LOGIN PAGE/////
#login {
  .login-button {
    @include button(); 
    &:hover {
      background-color: $red;
      color: white;
    }
  }
}
/////PICKGAME PAGE/////
#pickGame {
  input {
    @include button();
    vertical-align: bottom;
    display: inline-block;
    width: 74%;
    border-radius: 10px 0 0 10px;
    background-color: transparent;
    color: $red;
    &:focus {
      outline: 0;
      background-color: #fff;
    }
  }
  .create-button {
    @include button();
    background-color: $red;
    color: white;
    display: inline-block;
    width: 26%;
    border-radius: 0 10px 10px 0;
  }
  .join-button {
    @include button();
    &:hover {
      background-color: transparent;
      color: $red;
    }
  }
}
/////GAME LIST PAGE/////
#gamelist {
  #list {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    overflow-y: scroll;
    margin-top: 0;
    margin-bottom: auto;

    .game {
      width: 29vw;
      margin: 2vw;
      padding: 10px;
      display: inline-block;
      box-sizing: border-box;
      border: 1px solid $gray;
      position: relative;
      overflow: hidden;

      .gamename {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 600;
        margin-bottom: 0;
      }
      .join-button {
        @include button();
        margin-bottom: 0;
        left: 0;
        bottom: 0;
        background-color: $gray;
        border-color: $gray;
        border-radius: 0;
        width: 101%;
        color: white;

        &:hover {
          color: $gray;
          background-color: #fff;
        }
      }
      .delete-game {
        @extend .join-button;
        background-color: $red;
        border-color: $red;
        &:hover {
          color: $red;
          background-color: #fff;
        }
      }
    }
  }
}
/////GAME PAGE/////
#game {
  display: flex;
  flex-wrap: wrap;

  #board {
    width: 94vh;
    height: 94vh;
    margin: 3vh;
    display: flex;
    flex-wrap: wrap;

    .corner { width: 1%; height: 1%;}
    .frame {
      &.horizontal {
        height: 1%;
        width: 98%;

        .startpoints {
          @include startpoints();

          height: 100%;
          width: calc(100%/12);
          display: inline-block;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          &.occupied {
            background-color: transparent !important;
          }
        }
      }
      &.vertical {
        height: 98%;
        width: 1%;

        .startpoints {
          @include startpoints();

          width: 100%;
          height: calc(100%/12);
          border-top: 3px solid transparent;
          border-bottom: 3px solid transparent;
        }
      }
    }

    .space-container {
      height: 98%;
      width: 98%;
      display: flex;
      flex-wrap: wrap;
      border: 1px solid $mountain;
      box-sizing: border-box;

      .space {
        width: calc(100%/6);
        height: calc(100%/6);
        position: relative;

        .placehover {
          font-weight: bold;
          color: $gray;
          text-transform: uppercase;
          letter-spacing: 3px;
          width: 100%;
          height: 100%;
          cursor: pointer;
          position: absolute;
          z-index: 6;

          span {
            background-color: rgba(255,255,255,.7);
            padding: 2px 3px;
            border-radius: 5px;
            position: absolute;
            bottom: 2%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
        }
        img {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 5;
          transition: all 1s;

          &.testing { transform: scale(1.15); box-shadow: 0 0 10px $gray;}
          &.east {
            transform: rotate(90deg);
            &.testing { transform: rotate(90deg) scale(1.15);}
          }
          &.south {
            transform: rotate(180deg);
            &.testing { transform: rotate(180deg) scale(1.15);}
          }
          &.west {
            transform: rotate(270deg);
            &.testing { transform: rotate(270deg) scale(1.15); }
          }
        }
        .player {
          position: absolute;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          transform: translate(-50%,-50%);
          z-index: 100;
          &.zero  { top: 0;     left: 30%;  }
          &.one   { top: 0;     left: 70%;  }
          &.two   { top: 30%;   left: 100%; }
          &.three { top: 70%;   left: 100%; }
          &.four  { top: 100%;  left: 70%;  }
          &.five  { top: 100%;  left: 30%;  }
          &.six   { top: 70%;   left: 0;    }
          &.seven { top: 30%;   left: 0;    }
          &.mynext { background-color: rgba(255,255,255,.5); }
        }
      }
    }
  }

  /////TILE DRAWER/////
  .tileDrawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 92vh;
    padding: 4vh;
    display: flex;
    flex-direction: column-reverse;

    tile {
      width: calc(86vh/3);
      height: calc(86vh/3);
      margin-bottom: 3vh;
      position: relative;
      cursor: pointer;
      box-sizing: border-box;

      .ccw {
        width: 20%;
        height: 20%;
        position: absolute;
        transform: translateY(-50%);
        left: 0;
        top: 50%;
      }
      .cw {
        width: 20%;
        height: 20%;
        position: absolute;
        transform: translateY(-50%);
        right: 0;
        top: 50%;
      }

      &:first-child { margin-bottom: 0; }
      
      img.tile {
        width: 100%;
        box-shadow: 0 0 10px $gray;
        transition: all 1s;
        &.east { transform: rotate(90deg);}
        &.south { transform: rotate(180deg);}
        &.west { transform: rotate(270deg);}
      }
    }
  }
  /////PLAYER DRAWER/////
  .playerDrawer {
    position: fixed;
    top: 0;
    right: 0;
    height: 92vh;
    padding: 4vh 0 4vh 4vh;
    display: flex;
    flex-direction: column;

    .player {
      width: calc(90vh/3);
      margin-bottom: 3vh;
      padding: 5px 0;
      color: #fff;
      &.currentPlayer {
        font-weight: 600;
        transform: scale(1.25);
        &.itsMyTurn{
          @include throbbing(smallscaleup)
        }
      }      
      @keyframes smallscaleup {
        from { transform: scale(1)  }
        to { transform: scale(1.25) }
      }
      &.dead {
        background-color: $gray;
        opacity: .4;
      }
      p { margin: 0; }
      &:last-child { margin-bottom: 0; }
    }

    .game-buttons {
      position: absolute;
      bottom: 0;
      margin-bottom: 4vh;
      .leave,
      .logout,
      .reset {
          width: calc(97vh/3);
          margin-top: 2vh;
          padding: 5px 0;
          color: #fff;
          background-color: $gray;
          cursor: pointer;
      }
    }
  }
}

/////MARKER MODAL/////
.markermodal {
  @include centering(absolute);
  width: 100vw;
  height: 100vh;
  padding-top: 25%;
  background-color: rgba(255,255,255,.8);
  z-index: 100;
  
  p {
    font-size: 2em;
    margin: 0 0 40px;
    width: 100%;
  }
  .circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
  }
}
.loginmodal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,.9);
  z-index: 100;
  .main {
  @include centering(absolute);
    width: 100%;
    max-width: 600px;
    // p {
    //   font-size: 2em;
    //   margin: 0 0 40px;
    //   max-width: 600px;
    //   width: 100%;
    // }
    .login-button {
      max-width: 600px;

      @include button(); 
      &:hover {
        background-color: $red;
        color: white;
      }
    }
  }
}
/////STARTPOINT MODAL/////
.startpointmodal {
  @include centering(fixed);
  width: 84vh;
  height: 84vh;
  padding: 2vh;
  background-color: rgba(255,255,255,.8);
  z-index: 100;
  
  p {
    @include centering(absolute);
    font-size: 2em;
    margin: 0 0 40px;
    width: 100%;
  }
}

/////GAME NOTIFICATIONS/////
.game-notifications {
  @include centering(fixed);
  z-index: 15;
  font-size: 2em;
  color: $mountain;
  p {
    @include throbbing(deadPlayers);
    @keyframes deadPlayers {
      from { transform: scale(1); }
      to { transform: scale(1.15);}
    }
  }
}
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
/////TYPOGRAPHY/////
h1 {
  font-size: 3em;
  letter-spacing: 20px;
  font-weight: 300;
  margin-bottom: 0;
}
h2 {
  font-weight: 300;
  font-size: 1.5em;
  margin-bottom: 3em;
}
a {
  text-decoration: none;
}
/////FORMS/////
input {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
}
.button {
  display: inline-block;
  padding: 5px;
  margin: 10px;
  border: 1px solid #ccc;
}
/////COLORS/////
.red { background-color: $red; }
.purple { background-color: $purple; }
.pink { background-color: $pink; }
.yellow { background-color: $yellow; }
.green { background-color: $green; }
.jade { background-color: $jade; }
.sky { background-color: $sky; }
.ocean { background-color: $ocean; }
