$geosans: 'Raleway', sans-serif;

$red: #cc553d;
$purple: #a58087;
$pink: #e8afa3;
$yellow: #f2c85d;
$jade: #336667;
$green: #539279;
$sky: #9ac4ce;
$ocean: #275e93;

$mountain: #122039;
$gray: #5c6764;
$paper: #f4f1df;

@mixin testing-tile($animationname){
  animation-name: $animationname;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: 0 0 10px $gray; 
  &:hover {
    animation-play-state: paused;
  }
}

@mixin button(){
  width: 100%;
  padding: 2%;
  margin: 10px 0;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid $red; 
  background-color: $red;
  
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}

/////STRUCTURE/////
body {
    font-family: $geosans;
    text-align: center;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/the-paths-of-dragons.appspot.com/o/tsuro-bg.jpg?alt=media&token=d0078f3a-7445-47ba-8641-3a794a1499ab');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
section.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/////LOGIN PAGE/////
#login {
  .login-button {
    @include button()

    &:hover {
      background-color: transparent;
      color: $red;
    }
  }
}
/////PICKGAME PAGE/////
#pickGame {
  input {
    @include button()
    display: inline-block;
    width:74%;
    border-radius: 10px 0 0 10px;

    background-color: transparent;
    color: $red;

    &:focus {
      outline: 0; 
      background-color: #fff;
    }
  }
  .create-button {
    @include button()
    display: inline-block;
    width: 26%;
    border-radius: 0 10px 10px 0;
  }

  .join-button {
    @include button()

    &:hover {
      background-color: transparent;
      color: $red;
    }
  }
}

/////GAME LIST PAGE/////
#gamelist {
  #list {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    overflow-y: scroll;
    margin-top: 0;
  margin-bottom: auto;
    .game {
      width: 29vw;
      margin: 2vw;
      padding: 10px 10px 20px 10px;
      display: inline-block;
      box-sizing: border-box;
      border: 1px solid $gray;
      position: relative;
      overflow: hidden;

      .gamename { 
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 600;
        margin-bottom:0;
      }
      
      .join-button {
        @include button();
        position: absolute;
        left: 0; bottom: 0;
        background-color: $gray;
        border-color: $gray;
        border-radius: 0;
        margin: -1px;
        width: 101%;
        &:hover {
          color: $gray;
          background-color: #fff;
        }
      }
    }
  }
}

/////GAME PAGE/////
#game {
  display: flex;

  #board {
    width: 94vh;
    height: 94vh;
    margin: 3vh;
    display: flex;
    flex-wrap: wrap;

    .corner { width: 1%; height: 1%;}
    .frame {
      &.horizontal {
        height: 1%;
        width: 98%;

        .startpoints {
          height: 100%;
          width: calc(100%/12);
          display: inline-block;
          position: relative;
        }
      }
      &.vertical {
        height: 98%;
        width: 1%;

        .startpoints {
          width: 100%;
          height: calc(100%/12);
          display: inline-block;
          position: relative;
        }
      }
      .startpoints span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: $mountain;
        margin: 0;
        cursor: pointer;
      }
    }
    .space-container {
      height: 98%;
      width: 98%;
      display: flex;
      flex-wrap: wrap;
      border: 1px solid $mountain;
      box-sizing: border-box;

      .space {
        width: calc(100%/6);
        height: calc(100%/6);
        border: 1px dotted #ccc;
        box-sizing: border-box;
        position: relative;

        .placehover {
          background-color: $mountain;
          color: white;
          padding: 5px 10px;
          border-radius: 10px;
          text-transform: uppercase;
          letter-spacing: 3px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          z-index: 6;
        }

        img {
          width:100%;
          position: relative;
          z-index: 5;
          &.testing {
            @include testing-tile(testing)
          }
          
          &.east { 
            transform: rotate(90deg); 
            &.testing {@include testing-tile(testing-east)}
          }
          &.south { 
            transform: rotate(180deg); 
            &.testing {@include testing-tile(testing-south)}
          }
          &.west { 
            transform: rotate(270deg); 
            &.testing {@include testing-tile(testing-west)}
          }
        }
        @keyframes testing {
          from { transform: scale(1)  }
          to { transform: scale(1.15) }
        }
        @keyframes testing-east {
          from { transform: scale(1) rotate(90deg); }
          to { transform: scale(1.15) rotate(90deg);}
        }
        @keyframes testing-south {
          from { transform: scale(1) rotate(180deg);}
          to { transform: scale(1.15) rotate(180deg);}
        }
        @keyframes testing-west {
          from { transform: scale(1) rotate(270deg);}
          to { transform: scale(1.15) rotate(270deg);}
        }

        .player {
          position: absolute;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          transform: translate(-50%,-50%);
          z-index: 100;
          &.active {font-weight: 600}
          &.zero { top: 0; left: 30%; }
          &.one { top: 0; left: 70%; }
          &.two { top: 30%; left: 100%; }
          &.three { top: 70%; left: 100%; }
          &.four { top: 100%; left: 70%; }
          &.five { top: 100%; left: 30%; }
          &.six { left: 0; top: 70%; }
          &.seven { left: 0; top: 30%; }
        }

        &.mynext {
          background-color: white;
        }
      }
    }
  }

  /////TILE DRAWER/////
  .tileDrawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 92vh;
    padding: 4vh;
    display: flex;
    flex-direction: column;
    
    tile {
      width: calc(86vh/3);
      height: calc(86vh/3);
      margin-bottom: 3vh;
      position: relative;
      cursor: pointer;
      
        .ccw {
          width: 20%; height: 20%;
          position: absolute;
          transform: translateY(-50%);
          left: 0; top: 50%;
        }
        .cw {
          width: 20%; height: 20%;
          position: absolute;
          transform: translateY(-50%);
          right: 0; top: 50%;
        }
      
      img {
        width: 100%;
        transition: all 1s;

        &:last-child { margin-bottom: 0; }
        &.east { transform: rotate(90deg); }
        &.south { transform: rotate(180deg); }
        &.west { transform: rotate(270deg); }
      }
    }
  }
  /////PLAYER DRAWER/////
  .playerDrawer {
    position: fixed;
    top: 0;
    right: 0;
    height: 92vh;
    padding: 4vh 0 4vh 4vh;
    display: flex;
    flex-direction: column;

    .player {
      width: calc(90vh/3);
      margin-bottom: 3vh;
      padding: 5px 0;
      color: #fff;

      p { margin: 0; }

      &:last-child { margin-bottom: 0; }
      
    }
    .game-buttons {
      position: absolute;
      bottom: 0;
        margin-bottom: 4vh;
      
      .leave, .reset {
        width: calc(97vh/3);
        margin-top:2vh;
        padding: 5px 0;
        color: #fff;
        background-color: $gray;
        cursor: pointer;
      }     
    }
  }
}

/////MARKER MODAL/////
.markermodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  padding: 50px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 10px #808080;
  z-index: 100;
  
  p {
    font-size: 2em;
    margin: 0 0 40px;
    width: 100%;
  }
  .circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
  }
}

.loader {
  width: 100%; height: 100%;
  position: fixed;
  top: 0; left: 0;
  background-color: rgba(0,0,0,.7);
  img {
    position: relative;
    top:50%;
    transform: translateY(-50%);
  }
}
/////TYPOGRAPHY/////
h1 {
  font-size: 4em;
  letter-spacing: 8px;
  font-weight: 300;
  span {
    font-size: 0.5em;
    font-weight: 300;
    letter-spacing: 10px;
  }
}
a { text-decoration: none; }

/////FORMS/////
input {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
}
.button {
  display: inline-block;
  padding: 5px;
  margin: 10px;
  border: 1px solid #ccc;
}
/////COLORS/////
.red { background-color: $red; }
.purple { background-color: $purple; }
.pink { background-color: $pink; }
.yellow { background-color: $yellow; }
.green { background-color: $green; }
.jade { background-color: $jade; }
.sky { background-color: $sky; }
.ocean { background-color: $ocean; }