<img ng-src="{{thisTile.imageUrl}}" ng-class="{
			east: thisTile.rotation === 1 || thisTile.rotation === -3,
			south: thisTile.rotation === 2 || thisTile.rotation === -2,
			west: thisTile.rotation === 3 || thisTile.rotation === -1
			}"/>
<button ng-click="rotateccw(thisTile)" class="ccw">↺</button>
<button ng-click="place(thisTile)" class="place" ng-show="myTurn">PLACE</button>
<button ng-click="tryTile(thisTile)" class="try">TRY</button>
<button ng-click="rotatecw(thisTile)" class="cw">↻</button>
